/* NEUZEIT */


@font-face {
    font-family: 'Neuzeit-Book';
    src: url('../assets/fonts/subset-NeuzeitSLTStd-Book.eot');
    src: url('../assets/fonts/subset-NeuzeitSLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/subset-NeuzeitSLTStd-Book.woff2') format('woff2'),
        url('../assets/fonts/subset-NeuzeitSLTStd-Book.woff') format('woff'),
        url('../assets/fonts/subset-NeuzeitSLTStd-Book.ttf') format('truetype'),
        url('../assets/fonts/subset-NeuzeitSLTStd-Book.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit-Heavy';
    src: url('../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.eot');
    src: url('../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.woff2') format('woff2'),
        url('../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.woff') format('woff'),
        url('../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.ttf') format('truetype'),
        url('../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.svg#Montserrat-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
