/* NEUZEIT */

@font-face {
    font-family: 'n-book';
    src:url('../assets/NeuzeitSLTStd-Book.otf');
    src:url('../assets/NeuzeitSLTStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'n-bold';
    src:url('../assets/NeuzeitSLTStd-BookHeavy.otf');
    src:url('../assets/NeuzeitSLTStd-BookHeavy.woff') format('woff');
}
