$purple: purple;
$pink: pink;
$lightblue: #A2D5ED;
$lightgrey: #C0C0C0;

$buttonbc: cyan;
$backgc: white;
$highlightcolor: lighten(#66def4, 2%);
$textcolor: lighten(black, 10%);

html {
  background: $backgc;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  padding: 50px 20px;
  max-width: 700px;
  margin: auto;
}

#personalityquiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.question {
  margin: 10px;
  padding: 15px 0px 35px 0px;
  border-bottom: 2px solid #efefef;
  & .statement {
    display:block {}
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 10px 0 5px 0;
    margin: 5px 0px;
  }
  & .options {
    font-weight: normal;
    font-size: 0.8em;
  }
  li label {
    padding: 5px 8px;
    border-radius: 4px;
    margin: -5px -4px;
  }
}

.options input:checked + label {
  background-color: $highlightcolor;
  z-index: 20;
  font-weight: bold;
}

input[type='text']:valid {
  background-color: $highlightcolor;
}

.text_question {
  input {
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 10px;
    width: calc(100% - 20px);
  }
}

.multiple_choice_question {
  li {
    margin-left: 20px;
    label {
      margin-left: 10px;
    }
  }
}

.likert_question {
  & .options {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding: 0 0 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;


    --barwidth: 80%;
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      width: calc(var(--barwidth));
      left: calc((100% - var(--barwidth)) / 2);
      display: block;
      background-color: #efefef;
      height: 4px;
    }
  }
  & .options li {
    z-index: 10;
    width: calc((var(--barwidth) / 4));
    text-align: center;
    vertical-align: top;
    &.xwider {
      width: var(--widerwidth);
    }
    & label {
      width: 100%;
      display: block;
    }
    & input {
      display: inline-block;
    }
  }
}

#cancelconfirmmenu {
  margin: 40px 0px;
  background-color: darken($backgc, 20%);
  flex-direction: row;
  display: flex;
  border-radius: 10px;
}

#cancelconfirmmenu button {
  flex-grow: 1;
  height: 100%;
}

button {
  margin: 20px;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 4px;
  background-color: lighten($lightgrey, 40%);
  color: darken($backgc, 30%);
  border-right: 2px solid darken($buttonbc, 30%);
  border-bottom: 2px solid darken($buttonbc, 30%);
  &#confirm {
    background-color: lighten($highlightcolor, 2%);
  }
  &#cancel {
    background-color: lighten($backgc, 3%);
  }
  &[disabled=disabled], &:disabled {
    font-weight: normal;
    border-right: 2px solid darken($lightgrey, 40%);
    border-bottom: 2px solid darken($lightgrey, 40%);
    color: darken($lightgrey, 30%);
    background-color: $lightgrey !important;
  }
  &:active {
    border-left: 2px solid darken($lightgrey, 40%);
    border-top: 2px solid darken($lightgrey, 40%);
    border-right: none;
    border-bottom: none;
    background-color: lighten($buttonbc, 10%);
    color: darken($backgc, 30%);
  }
}

#postquestions {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: darken($backgc, 10%);
}

#pqwrapper {
  font-weight: bold;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quiz_header {

  text-align: center;
  color: $textcolor;

  #quiz_title {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
  }

  #quiz_description {
    margin-bottom: 10px;
    font-size: 1.1em;
  }
}

#personname {
  font-weight: bold;
}

#twobytwo {
  background: url('../assets/two_by_two_arrows.svg') no-repeat;
  background-color: white;
  width: 500px;
  height: 500px;
  max-height: calc(70vw - 70px);
  max-width: calc(70vw - 70px);
  position: relative;
  border: 80px solid white;
  border-radius: 10px;
  .mark {
    font-weight: 700 !important;
    color:  $textcolor !important;
    position: absolute;
		line-height: 1.1em;
  }


  #results {
    position: relative;
    width: 100%;
    height: 100%;
    top: -7px;
    left: -5px;
  }
}

.axislabel {
  position: relative;
}

.alignleft {
	text-align: left;
	& textarea {
		top: -3px;
		left: -5px;
	}
}

#results {
  display: table;
}
.alignvcenter {
	height: 50%;
	width: 100px;
	margin-top: -25%;
	display: flex;
  flex-direction: column;
	vertical-align: middle;	
  justify-content: center;

}

.alignright {
	text-align: right;
	 & textarea  {
		text-align: right;
		top: -3px;
		right: -9px;
	}
}
.aligncenter {
	text-align: center;

	&.axislabel {
		width: 50%;
		margin-left: -23%;
		& textarea  {
			text-align: center;
			top: -3px;
			center: -9px;
		}
	}
} 

textarea.editable {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  background-color : #FFA;
  padding : 3px;
  width: 20px;
}

.quadrantlabel {
  
  flex-wrap: wrap;
	border: 1px dotted red;
	padding: 5px;
	height: calc(50% - 10px);
	width: calc(50% - 10px);
	display: table-cell;
	vertical-align: middle;	
  align-items: center;
  justify-content: center;
}

.alignvtop {
}
.alignvbottom {
}
