$purple: purple;
$pink: pink;
$lightblue: #A2D5ED;
$lightgrey: #C0C0C0;

$buttonbc: cyan;
$backgc: white;
$highlightcolor: lighten(#66def4, 2%);
$textcolor: lighten(black, 10%);

html {
  background: $backgc;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
}


#wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 vertical-align: middle;	
 justify-content: center;
 height: 100vh;
 width: 100vw;
}

button {
  margin: 20px;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 4px;
  background-color: lighten($lightgrey, 40%);
  color: darken($backgc, 30%);
  border-right: 2px solid darken($buttonbc, 30%);
  border-bottom: 2px solid darken($buttonbc, 30%);

  &:active {
    border-left: 2px solid darken($lightgrey, 40%);
    border-top: 2px solid darken($lightgrey, 40%);
    border-right: none;
    border-bottom: none;
    background-color: lighten($buttonbc, 10%);
    color: darken($backgc, 30%);
  }
}


.quiz_header {

  padding: 20px 0px;

  text-align: center;
  color: $textcolor;

  #quiz_title {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
  }

  #quiz_description {
    margin-bottom: 10px;
    font-size: 1.1em;
  }
}

$tbtpad: 40vmin;

#twobytwo_wrapper {
  width: calc(95vmin - #{$tbtpad});
  height: calc(95vmin - #{$tbtpad});
  border: 1px dotted blue;
  padding: calc(#{$tbtpad} / 2);
}

#grid {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;

  & #gridgraphic {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background: url('../assets/two_by_two_arrows.svg') no-repeat;
  }

  .label {
    font-weight: 700 !important;
    color:  $textcolor !important;
    position: absolute;
		line-height: 1.1em;
    overflow-wrap: break-word;
  }

}

.axislabel {

  &.xaxis {
    width: calc((#{$tbtpad} / 2) - 1vmin);
  }
}

.alignleft {
	text-align: left;
	& textarea {
		top: -3px;
		left: -5px;
	}
}

.alignright {
	text-align: right;
	 & textarea  {
		text-align: right;
		top: -3px;
		right: -9px;
	}
}
.alignvcenter {
	height: 100%;
	margin-top: -50%;
	display: flex;
  flex-direction: column;
	vertical-align: middle;	
  justify-content: center;
}

.alignhcenter {
	text-align: center;

	&.axislabel {
		width: 100%;
		margin-left: -50%;
		& textarea  {
			text-align: center;
			top: -3px;
			center: -9px;
		}
	}
} 

textarea.editable {
  margin: 0px;
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  background-color : #FFA;
  padding : 3px;
}

$qlpad: 3vmin;

.quadwrap {
	border: 1px dotted red;
  margin: -1px;
	padding: calc(#{$qlpad} / 2 );
  height: calc(50% - (#{$qlpad}));
  width: calc(50% - (#{$qlpad}));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadinner {
  width: 100%;
}

.alignvtop {
}
.alignvbottom {
}
