/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* NEUZEIT */
@font-face {
  font-family: 'Neuzeit-Book';
  src: url("../assets/fonts/subset-NeuzeitSLTStd-Book.eot");
  src: url("../assets/fonts/subset-NeuzeitSLTStd-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/subset-NeuzeitSLTStd-Book.woff2") format("woff2"), url("../assets/fonts/subset-NeuzeitSLTStd-Book.woff") format("woff"), url("../assets/fonts/subset-NeuzeitSLTStd-Book.ttf") format("truetype"), url("../assets/fonts/subset-NeuzeitSLTStd-Book.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Neuzeit-Heavy';
  src: url("../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.eot");
  src: url("../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.woff2") format("woff2"), url("../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.woff") format("woff"), url("../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.ttf") format("truetype"), url("../assets/fonts/subset-NeuzeitSLTStd-BookHeavy.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Neuzeit-Book', Arial, sans-serif;
  margin: 0;
  padding: 0; }
  @media only screen and (max-device-width: 480px) {
    body {
      letter-spacing: -0.00em; } }

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 100vh;
  width: 100%; }

#buttons {
  padding: 10px;
  display: flex;
  flex-direction: row; }
  #buttons * {
    margin: 5px 10px; }

button {
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  color: #1a1a1a;
  border-right: 2px solid #006666;
  border-bottom: 2px solid #006666; }
  button:active, button.pressed {
    border-left: 2px solid #5a5a5a;
    border-top: 2px solid #5a5a5a;
    border-right: none;
    border-bottom: none;
    background-color: #33ffff;
    color: #b3b3b3; }

.quiz_header {
  font-size: calc(0.5em + 1vmin);
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 8vmin);
  padding: 5vmin calc(8vmin / 2);
  text-align: center;
  color: #1a1a1a; }
  .quiz_header #quiz_title {
    margin-bottom: 2vmin;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Neuzeit-Heavy'; }
  .quiz_header #quiz_description {
    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: 1.2em; }

#twobytwo_wrapper {
  position: relative;
  width: calc(94vmin - 35vmin);
  height: calc(94vmin - 35vmin);
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  padding: calc(35vmin / 2); }
  @media screen and (min-width: 500px) {
    #twobytwo_wrapper {
      max-width: 50vmin !important;
      max-height: 50vmin !important; } }

#grid {
  font-size: calc(0.5em + 1vmin);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  margin-top: 6vmin; }
  #grid #gridgraphic {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%; }
    #grid #gridgraphic img {
      width: 100%;
      height: 100%; }
  #grid .label, .editing * {
    font-weight: 700;
    color: #1a1a1a;
    position: absolute;
    line-height: 1.1em;
    overflow-wrap: break-word; }

.axislabel {
  font-family: 'Neuzeit-Book', Arial, sans-serif; }
  .axislabel.xaxis {
    width: calc((35vmin / 2) - 1vmin); }

.alignleft {
  text-align: left; }
  .alignleft textarea {
    top: -3px;
    left: -5px; }

.alignright {
  text-align: right; }
  .alignright textarea {
    top: -3px;
    right: -9px; }

.alignvcenter {
  height: 100%;
  margin-top: -50%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center; }

.alignhcenter {
  text-align: center; }
  .alignhcenter.axislabel {
    width: 100%;
    margin-left: -50%; }
    .alignhcenter.axislabel textarea {
      top: -3px;
      center: -9px; }

.editable {
  margin: 0px;
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  background-color: #FFA;
  padding: 3px;
  text-align: inherit; }


.quadwrap {
  font-family: 'Neuzeit-Heavy', Arial, sans-serif;
  color: #1a1a1a;
  height: 50%;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }

.quadinner {
  width: 80%;
  padding: calc(0.75em + 1.5vmin);
  position: absolute; }

#quadrant_xmaxymax {
  bottom: 0px;
  left: 0px; }

#quadrant_xminymax {
  bottom: 0px;
  right: 0px; }

#quadrant_xmaxymin {
  top: 0px;
  left: 0px; }

#quadrant_xminymin {
  top: 0px;
  right: 0px; }
